<!-------------------- NAVBAR ----------------->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Candidate Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <button type = "button" style ="padding-right: 27px; padding-left: 24px;" class="nav-link btn btn-secondary fa fa-pencil btn-lg" (click)="onOpenModal(undefined, 'add')"> New <span class="sr-only">(current)</span></button>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchCandidates(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search candidates..." required>
     </form>
  </div>
</nav>

<!-------------------- LIST OF CARDS ----------------->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let candidate of candidates" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://www.bootdey.com/img/Content/avatar/avatar{{candidate?.imageUrl}}.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{candidate?.name}}</h5>
                        <p class="m-0">{{candidate?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i></i>{{candidate?.email}}<a href="#"></a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone: {{candidate?.phone}}</li>
                    <li class="list-group-item"><i class="fa fa-dollar float-right"></i>Wage: {{candidate?.wage}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit" (click)="onOpenModal(candidate, 'edit')"><i class="fa fa-pencil"></i> </a>
                        <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="onOpenModal(candidate, 'delete')"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="row">
                      <div class="social-links">
                        <li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone=55{{candidate?.phone}}" target=”_blank” title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Whatsapp"><i class="fa fa-whatsapp"></i></a></li>
                        <li class="list-inline-item" ><a href="{{candidate?.pdf}}" style="background-color: rgba(241, 3, 3, 0.85);" target=”_blank” title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="PDF"><i class="fa fa-file-pdf-o"></i></a></li>
                        <li class="list-inline-item"><a href="{{candidate?.linkedin}}"style="background-color: rgba(6, 3, 209, 0.85);"target=”_blank” title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-linkedin"></i></a></li>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

    <!-- Add Candidate Modal -->
<div class="modal fade" id="addCandidateModal" tabindex="-1" role="dialog" aria-labelledby="addCandidateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addCandidateModalLabel">Add a new candidate</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
         <form #addForm="ngForm" (ngSubmit)="onAddCandidate(addForm)">
          <div class="form-group">
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" maxlength="16" required>
          </div>
          <div class="form-group">
             <input type="email" ngModel name="email" class="form-control" id="email" placeholder="xxxxxxx@gmail.com" required>
          </div>
          <div class="form-group">
             <input type="text" ngModel name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title" maxlength="14" required>
          </div>
          <div class="form-group">
             <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="Phone" maxlength="14" required>
          </div>
          <div class="form-group">
            <select type="select" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
              <option value = "" selected disabled>Profile Image</option>
              <option value = "1">1</option>
              <option value = "2">2</option>
              <option value = "3">3</option>
              <option value = "4">4</option>
              <option value = "5">5</option>
              <option value = "6">6</option>
              <option value = "7">7</option>
              <option value = "8">8</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" ngModel name="wage" class="form-control" id="wage" placeholder="Pretended Wage" maxlength="13"required>
            </div>
         <div class="form-group">
          <input type="text" ngModel name="pdf" class="form-control" id="pdf" placeholder="PDF Link" required>
       </div>
         <div class="form-group">
          <input type="text" ngModel name="linkedin" class="form-control" id="linkedin" placeholder="Linkedin" required>
       </div>
          <div class="modal-footer">
             <button type="button" id="add-candidate-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>

<!-- Edit Modal -->
<div class="modal fade" id="updateCandidateModal" tabindex="-1" role="dialog" aria-labelledby="CandidateEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateCandidateModalLabel">Edit {{editCandidate?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
           <div class="form-group">
              <input type="text" ngModel="{{editCandidate?.name}}" name="name" class="form-control" id="name" placeholder="Name" maxlength="16" required>
           </div>

            <input type="hidden" ngModel="{{editCandidate?.id}}" name="id" class="form-control" id="id">
            <input type="hidden" ngModel="{{editCandidate?.candidateCode}}" name="candidateCode" class="form-control" id="candidateCode">

           <div class="form-group">
              <input type="email" ngModel="{{editCandidate?.email}}" name="email" class="form-control" id="email" placeholder="xxxxxxx@gmail.com" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel="{{editCandidate?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title" maxlength="14" required>
           </div>
           <div class="form-group">
              <input type="text" ngModel="{{editCandidate?.phone}}" name="phone" class="form-control" id="phone" placeholder="Phone" maxlength="14" required>
           </div>
           <div class="form-group">
             <select type="select" ngModel="{{editCandidate?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
               <option value = "" selected disabled>Profile Image</option>
               <option value = "1">1</option>
               <option value = "2">2</option>
               <option value = "3">3</option>
               <option value = "4">4</option>
               <option value = "5">5</option>
               <option value = "6">6</option>
               <option value = "7">7</option>
               <option value = "8">8</option>
             </select>
           </div>
           <div class="form-group">
             <input type="text" ngModel="{{editCandidate?.wage}}" name="wage" class="form-control" id="wage" placeholder="Pretended Wage" maxlength="13"required>
             </div>
          <div class="form-group">
           <input type="text" ngModel="{{editCandidate?.pdf}}" name="pdf" class="form-control" id="pdf" placeholder="PDF Link" required>
        </div>
          <div class="form-group">
           <input type="text" ngModel="{{editCandidate?.linkedin}}" name="linkedin" class="form-control" id="linkedin" placeholder="Linkedin" required>
        </div>
           <div class="modal-footer">
              <button type="button" id="edit-candidate-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button (click)="onUpdateCandidate(editForm.value)" type="submit" class="btn btn-primary" >Save changes</button>
           </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteCandidateModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Candidate</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete candidate {{deleteCandidate?.name}}?</p>
           <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
           <button (click)="onDeleteCandidate(deleteCandidate!.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>

          </div>
        </div>
     </div>
  </div>
</div>



<div class="col-lg-12 col-md-12 col-xl-12" style="padding: 20px; text-align: center; justify-content: center;">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Spring Boot Angular</h4>
    <p>Este é um app fullstack de candidatos feito com Spring Boot + Angular</p>
    <p>Você pode criar, editar, deletar e pesquisar candidatos.</p>
  </div>
  </div>

